/* Stylesheet */

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

::selection {
  background: #41B883;
  color: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  box-shadow: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: #f0f0f0;
  opacity: 0.7;
  font-size: 2rem;
  outline: none;
}

button:hover {
  background: #41B883;
  transition: all 0.2s ease-in;
  color: #fff;
}

#calculator {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 15%;
  height: 100%;
  background: #3a4447;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  color: #fff;
  padding: 1.5rem 1.25rem;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
  font-weight: 500;
  font-size: 1.1rem;
}

.sidebar ul li a.active {
  opacity: 1;
  background: #41B883;
  transition: all 0.2s ease-in;
}

.sidebar li a img {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.sidebar li a.active img {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  transition: all 0.3s ease-in;
}

.content {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.history {
  width: 20%;
  height: auto;
}

.display {
  margin-bottom: 2.5rem;
}

.io-display {
  height: 230px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 4rem;
}

.result {
  height: 50%;
  width: 100%;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.result span.mode {
  position: absolute;
  left: 10px;
  font-size: 1rem;
  font-weight: bold;
  top: 10px;
}

.result .calcResult {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  font-weight: 500;
}

.operation {
  height: 50%;
  width: 100%;
  display: flex;
}

.operation input {
  width: 100%;
  outline: none;
  font-size: 4.3rem;
  text-align: right;
  padding-right: 10px;
  border: none;
  background: #FCFFD7;
  opacity: 0.6;
}

.standard {
  display: flex;
  justify-content: space-between;
}

.standard button {
  height: 5rem;
  width: 5.5rem;
  font-size: 1.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard sub, .standard sup {
  font-size: 1rem;
}

.standard .scientific {
  width: 60%;
}

.standard .scientific button {
  background: #c6ebdb;
}

.standard .scientific button:hover {
  background: #41B883;
}

.standard .regular {
  width: 40%;
}

.standard .scientific li:first-child button {
  width: 12rem;
}

.standard .regular li:nth-last-child(3) button {
  width: 12rem;
}

.standard ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.standard ul li {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.standard .regular ul {
  justify-content: flex-end;
}

.standard .regular li:nth-child(4n), .standard .regular li:last-child {
  margin-right: 0;
}